<%- include('layout/head.ejs') %>
    <link rel="stylesheet" href="/css/shop.css">
</head>

<body>
    <%- include('layout/navigation.ejs') %>

    <main>
        <% if(products.length > 0) { %>
            <div class="article-container">
                <% for(let product of products) { %>
                    <article class="card">
                        <div class="head">
                            <p><%= product.name %></p>
                        </div>
                        <div class="body">
                            <img src="/images/<%= product.img %>" alt="<%= product.name %>">
                            <div class="description">
                                <p class="price"><%= product.price %>$</p>
                                <p><%= product.description %></p>
                            </div>
                        </div>
                        <div class="foot">
                            <button class="details">Details</button>
                            <button class="add-cart">Add to Cart</button>
                        </div>
                    </article>
                <% } %>
            </div>
        <% } else { %>
            <h1>No Products Found</h1>
        <% } %>
    </main>
<%- include('layout/end.ejs') %>