<%- include('../layout/head.ejs') %>
    <link rel="stylesheet" href="/css/shop/shop.css">
</head>

<body>
    <%- include('../layout/navigation.ejs') %>

    <main>
        <% if(products.length > 0) { %>
            <div class="article-container">
                <% for(let product of products) { %>
                    <article class="card">
                        <div class="head">
                            <p><%= product.name %></p>
                        </div>
                        <div class="body">
                            <img src="/images/<%= product.image %>" alt="<%= product.name %>">
                            <div class="description">
                                <p class="price"><%= product.price %>$</p>
                                <p><%= product.description %></p>
                            </div>
                        </div>
                        <div class="foot">
                            <form action="/shop/cart" method="POST">
                                <% if(product.inCart) { %>
                                    <button class="remove-cart" name="inCart" value="false" type="submit">Remove to Cart</button>
                                <% } else { %>
                                    <button class="add-cart" name="inCart" value="true" type="submit">Add to Cart</button>
                                <% } %>
                                    <input type="text" name="id" value="<%= product.id %>" hidden>
                            </form>
                        </div>
                    </article>
                <% } %>
            </div>
        <% } else { %>
            <h1>No Products Found</h1>
        <% } %>
    </main>
<%- include('../layout/end.ejs') %>